.results-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.warning-result{
    background-color: #EE4B2B;
    color: white;
    padding: 0.7em;
}

.average-result{
    background-color: #FFBF00;
    color: white;
    padding: 0.7em;
}

.good-result{
    background-color: green;
    color: white;
    padding: 0.7em;
}