<div *ngIf="quizQuestions.length>0 && results == 'false'">
    <div *ngFor="let data of quizAnsersArray.controls">
        <p style="word-wrap:break-word">{{data.value.question}}</p>
        <div style="display: flex">
            <button class="option-button" *ngFor="let option of data.value.answers" (click)="selectOption(data,option)"
                [ngClass]="{'selected-button':data.value.selected_answer === option}">{{option}}</button>
        </div>
    </div>
    <br />
    <div class="sub-container">
        <button class="button-wide button-primary" *ngIf="quizAnswerForm.valid" (click)="submitQuiz()">Submit</button>
    </div>
</div>
<div *ngIf="quizQuestions.length>0 && results == 'true'">
    <div *ngFor="let data of quizQuestions">
        <p style="word-wrap:break-word">{{data.question}}</p>
        <div style="display: flex;">
            <div *ngFor="let option of data.answers" [ngClass]="applyStyleClass(data,option)">{{option}}</div>
        </div>
    </div>
</div>