body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.sub-container{
    display: flex;
    justify-content: center;
    flex: 1;
}

select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.7em;
    border: none;
    outline: none;
    border-right: 1px solid black;
    text-align: left;
    width: 100%;
}

button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.7em;
    border: none;
    outline: none;
    background: white;
    border: 1px solid gray;
    font-size: 0.8em;
}

.button-primary{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.7em;
    border: none;
    outline: none;
    background: gray;
    color: white;
}

button:hover{
    background-color: grey;
    color: white;
}

.button-wide{
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
    width: 400px;
}

form{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}